:root {
  --primary-white: #ffffff;
  --primary-black: #121212;
  --primary-light-gray: #dedede;
  --primary-dark-gray: #575757;

  --secondary-white: #fcfcfc;
  --secondary-black: #1a1818;
  --secondary-gray: #9c9c9c;
  --accent-red: #9b4b4b;
  --accent-gold: #ab8956;

  --hover-gray: #f3f3f3;
  --hover-dark: #1b1b1b;
  --accept-error: #ae2917;
  --skeleton-white: #eeeded;
  --skeleton-black: #0d0d0d;

  --skeleton-light-gradient: linear-gradient(
    90deg,
    transparent 0%,
    rgba(212, 207, 207, 0.1) 2%,
    rgba(220, 218, 218, 0.6) 5%,
    rgba(212, 207, 207, 0.1) 8%,
    transparent 12%
  );
  --skeleton-dark-gradient: linear-gradient(
    90deg,
    transparent 0%,
    rgba(26, 24, 24, 0.1) 2%,
    rgba(26, 24, 24, 0.4) 5%,
    rgba(26, 24, 24, 0.1) 8%,
    transparent 12%
  );

  --shadow-light-hover: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); /* #00000040 = rgba(0,0,0,0.25) */
  --shadow-light-focus: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

  --shadow-dark-hover: 0px 4px 10px 0px rgba(171, 137, 86, 0.25); /* #ab895640 = rgba(171,137,86,0.25) */
  --shadow-dark-focus: 0px 4px 10px 0px rgba(171, 137, 86, 0.25);
}

.dark {
  --background-color: var(--primary-black);
  --input-color: var(--primary-light-gray);
  --text-color: var(--primary-white);
  --placeholder-color: var(--primary-dark-gray);
  --checkbox-background: var(--primary-black);
  --input-hover: var(--primary-dark-gray);
  --label-color: var(--primary-white);
  --label-border: 1px solid var(--primary-white);
  --textarea-color: var(--primary-light-gray);

  --button-theme: var(--secondary-black);
  --button-icon: var(--secondary-gray);
  --input-background: var(--secondary-black);

  --button-background: var(--accent-gold);
  --accent-color: var(--accent-gold);
  --border_checkbox: none;
  --label-background: none;
  --active-menu-background: rgba(0, 0, 0, 0.6);
  --button-background-hover: var(--hover-dark);
  --genre-container: #cdcdcd0d;
  --skeleton: var(--skeleton-black);
  --skeleton-gradient: var(--skeleton-dark-gradient);

  --shadow-hover: var(--shadow-dark-hover);
  --shadow-focus: var(--shadow-dark-focus);
}

.light {
  --background-color: var(--primary-white);
  --input-color: var(--primary-dark-gray);
  --text-color: var(--primary-black);
  --button-background: var(--primary-black);
  --placeholder-color: var(--primary-light-gray);
  --button-icon: var(--primary-dark-gray);
  --border_checkbox: 1px, solid, var(--primary-light-gray);
  --input-background: var(--primary-white);
  --label-color: var(--primary-dark-gray);
  --label-background: rgba($color: var(--primary-black) $alpha: 5%);
  --textarea-color: var(--primary-black);

  --button-theme: var(--secondary-white);
  --input-hover: var(--secondary-gray);
  --checkbox-background: var(--secondary-white);

  --accent-color: var(--accent-red);
  --label-border: none;
  --active-menu-background: rgba(0, 0, 0, 0.3);
  --button-background-hover: var(--hover-gray);
  --genre-container: #1212120d;
  --skeleton: var(--skeleton-white);
  --skeleton-gradient: var(--skeleton-light-gradient);

  --shadow-hover: var(--shadow-light-hover);
  --shadow-focus: var(--shadow-light-focus);
}
