.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  border: 3px solid transparent;

  border-top-color: var( --background-color);
  border-right-color: rgba(var(--background-color), 0.35); // ← используйте rgba()
  border-bottom-color: rgba(var(--background-color), 0.35);
  border-left-color: rgba(var(--background-color), 0.35);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
