.checkboxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
  position: relative;
}

.checkbox {
  all: unset;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: all 0.2s ease;
  background-color: var(--checkbox-background);
  border: var(--border_checkbox);
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkedContainer {
  width: 24px;
  position: relative;
}

.iconWrapper {
  opacity: 0;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
