.containerInfo {
  width: 100%;
  height: 100%;
  padding: 80px 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 40px;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
}
@include screen(tablet_lg) {
  .containerInfo {
    grid-template-columns: 2fr 3fr;
    align-items: start;
    position: relative;
  }
}
