.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 80px 20px;
}
.paintInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.inputFile {
  display: none;
}

.imageError {
  width: 100%;
  max-width: 520px;
  color: #d92d20;
  font-size: 14px;
  line-height: 20px;
  margin-top: -16px;
  text-align: center;
}
@include screen(tablet) {
  .container {
    padding: 80px 100px;
  }
  .paintInfo {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    & > *:first-child {
      flex: 0 0 340px;
    }
    & > *:last-child {
      flex: 0 0 105px;
    }
  }
}
