.container {
  width: 100%;
  height: 100%;
  display: inline;
  position: relative;
}
.label {
  display: block;
  @include fonts('Inter', sans-serif, 700, 12px, 100%);
  margin-bottom: 8px;
  transition: all 0.5s ease;
  color: var(--text-color);
}
.input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  padding: 7px 16px;
  @include fonts('Inter', sans-serif, 300, 16px, 140%);
  background-color: var(--input-background);
  border: var(--border_checkbox);
  color: var(--text-color);
  &::placeholder {
    color: var(--secondary-gray);
    @include fonts('Inter', sans-serif, 300, 16px, 140%);
    transition: opacity 0.2s ease;
  }
  &:hover {
    border: 1px solid var(--input-hover);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--input-color);
    &.placeholder {
      opacity: 0;
    }
  }
}
.errorContainer {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  position: absolute;
  top: 105%;
  left: 0;
}
.errorIcon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.errorMessage {
  color: var(--accept-error);
  @include fonts('Inter', sans-serif, 300, 12px, 140%);
  margin-left: 32px;
}
