.label {
  height: 33px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  padding: 8px 16px;
  transition: all 0.5s ease;
  position: relative;
  margin: 0 12px;
  color: var(--label-color);
  background-color: var(--label-background);
  border: var(--label-border);
}
.labelText {
  @include fonts('Inter', sans-serif, 500, 12px, 140%);
}
.buttonClose {
  width: 12px;
  height: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  background-color: transparent;
  color: var(--input-color);
  svg {
    width: 12px;
    height: 12px;
  }
}
