.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.loginbuttons {
  display: flex;
  gap: 32px;
  border: none;
  flex-direction: column;
  background-color: transparent;
  @include fonts('Cormorant SC', sans-serif, 600, 32px, 100%);
  color: var(--input-color);
  a {
    color: inherit;
    text-decoration: none;
  }
}
.buttonTheme {
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
.iconTheme {
  width: 40px;
  height: 40px;
  position: relative;
  svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
